:root {
    --black: #000000;
    --red: #EA453C;
    --pink: #F47B6E;
    --light-blue: #EFFBFE;
    --blue: #ACE6EC;
    --green:#1f861f;
    --gray: #6b6b6b;
    --black: #000000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }


body {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    line-height: 1.5;
    background-color: var(--black);
    color: whitesmoke;
  }

  .container {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
    margin-top: 6rem;
    margin-bottom: 3rem;
  }

main.photos {
    padding: 10px;
    display: grid;
    grid-gap: 5px;
    grid-auto-rows: 150px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-flow: dense;
}

main.cart-page {
    padding: 10px;
}

.cart-page > h1 {
    text-align: center;
}

.cart-page .total-cost {
    text-align: right;
    font-size: 1.3em;
}

.cart-page div.order-button {
    display: flex;
    justify-content: center;
}

div.order-button > button {
    border-color: var(--black);
    cursor: pointer;
    padding: 15px;
    transition: all .2s ease-in-out;
}

div.order-button > button:focus {
    outline: none;
}

div.order-button > button:disabled {
    border-color: lightgray;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.cart-item img {
    margin-right: auto;
    margin-left: 10px;   
}

img.image-grid {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-container {
    position: relative;
}

.favorite {
    color: var(--red);
    font-size: 1.2rem;
    position: absolute;
    top: 5px;
    left: 5px;
    cursor: pointer;
}

.ri-heart-fill {
    opacity: .7;
}

.ri-delete-bin-line, .ri-delete-bin-fill {
    font-size: 1.3em;
    cursor: pointer;
}

.cart {
    color: gray;
    font-size: 1.2rem;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}
 
.wide {
    grid-column: span 2;
}

.tall {
    grid-row: span 2;
}

.big {
    grid-column: span 2;
    grid-row: span 2;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 1%;
    color: white;
    position: static;
    opacity: .9;
    -webkit-box-shadow: 0px 2px 10px -5px rgba(21,6,5,1);
    -moz-box-shadow: 0px 2px 10px -5px rgba(21,6,5,1);
    box-shadow: 0px 2px 10px -5px rgba(21,6,5,1);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    padding: 3%;
    opacity: .9;
    background-color: var(--black);
    color: var(--light-blue);
    -webkit-box-shadow: 0px 2px 10px -5px rgba(21,6,5,1);
    -moz-box-shadow: 0px 2px 10px -5px rgba(21,6,5,1);
    box-shadow: 0px 2px 10px -5px rgba(21,6,5,1);
}

a {
    text-decoration: none;
}

/* Landing Page */
.landing {
    position: relative;
    background: url('./utils/mantis.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .9;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .landing-inner {
    height: 100%;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: whitesmoke;
  }

  .lead {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }